<body style="background-color: lightgrey">
<div align="center" >
<h1 >Rail Girls Institute</h1>
<h2><a href="/students">Student Section</a></h2>
<h2><a href="/courses">Courses Section</a></h2>
</div>
</body>